{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-sass-guidelines",
        "stylelint-prettier/recommended"
    ],
    "plugins": [
        "stylelint-order",
        "stylelint-declaration-block-no-ignored-properties",
        "stylelint-color-format",
        "stylelint-scss"
    ],
    "rules": {
        "order/order": ["custom-properties", "declarations"],
        "order/properties-order": ["width", "height"],
        "order/properties-alphabetical-order": true,
        "plugin/declaration-block-no-ignored-properties": true,
        "color-format/format": {
            "format": "hsla"
        },
        "declaration-empty-line-before": [
            "always",
            {
                "ignore": [
                    "after-comment",
                    "after-declaration",
                    "first-nested",
                    "inside-single-line-block"
                ]
            }
        ]
    }
}
