.line {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.colour {
    align-items: center;
    border: 2px solid hsl(var(--accent-200));
    border-radius: 8px;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    width: 60px;
}

.category {
    margin: 20px;
}

.category-title {
    background-color: hsl(214deg 100% 97%);
    border: 1px solid hsl(var(--blue-200));
    border-radius: 200px;
    color: hsl(var(--blue-500));
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 2px 6px;
}
