@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 100;
    src: url("../../../assets/visby/visby-thin.woff2") format("woff2"),
        url("../../../assets/visby/visby-thin.woff") format("woff"),
        url("../../../assets/visby/visby-thin.ttf") format("truetype");
}
