@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 350;
    src: url("../../../assets/visby/visby-semi-regular.woff2") format("woff2"),
        url("../../../assets/visby/visby-semi-regular.woff") format("woff"),
        url("../../../assets/visby/visby-semi-regular.ttf") format("truetype");
}
