@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 500;
    src: url("../../../assets/visby/visby-medium.woff2") format("woff2"),
        url("../../../assets/visby/visby-medium.woff") format("woff"),
        url("../../../assets/visby/visby-medium.ttf") format("truetype");
}
