@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 600;
    src: url("../../../assets/visby/visby-semi-bold.woff2") format("woff2"),
        url("../../../assets/visby/visby-semi-bold.woff") format("woff"),
        url("../../../assets/visby/visby-semi-bold.ttf") format("truetype");
}
