@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 700;
    src: url("../../../assets/visby/visby-bold.woff2") format("woff2"),
        url("../../../assets/visby/visby-bold.woff") format("woff"),
        url("../../../assets/visby/visby-bold.ttf") format("truetype");
}
