@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 900;
    src: url("../../../assets/visby/visby-black.woff2") format("woff2"),
        url("../../../assets/visby/visby-black.woff") format("woff"),
        url("../../../assets/visby/visby-black.ttf") format("truetype");
}
