@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 100;
    src: url("../../../assets/visby/visby-thin.woff2") format("woff2"),
        url("../../../assets/visby/visby-thin.woff") format("woff"),
        url("../../../assets/visby/visby-thin.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 200;
    src: url("../../../assets/visby/visby-extra-light.woff2") format("woff2"),
        url("../../../assets/visby/visby-extra-light.woff") format("woff"),
        url("../../../assets/visby/visby-extra-light.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 300;
    src: url("../../../assets/visby/visby-light.woff2") format("woff2"),
        url("../../../assets/visby/visby-light.woff") format("woff"),
        url("../../../assets/visby/visby-light.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 350;
    src: url("../../../assets/visby/visby-semi-regular.woff2") format("woff2"),
        url("../../../assets/visby/visby-semi-regular.woff") format("woff"),
        url("../../../assets/visby/visby-semi-regular.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 390;
    src: url("../../../assets/visby/visby-sub-regular.woff2") format("woff2"),
        url("../../../assets/visby/visby-sub-regular.woff") format("woff"),
        url("../../../assets/visby/visby-sub-regular.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 400;
    src: url("../../../assets/visby/visby-regular.woff2") format("woff2"),
        url("../../../assets/visby/visby-regular.woff") format("woff"),
        url("../../../assets/visby/visby-regular.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 500;
    src: url("../../../assets/visby/visby-medium.woff2") format("woff2"),
        url("../../../assets/visby/visby-medium.woff") format("woff"),
        url("../../../assets/visby/visby-medium.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 600;
    src: url("../../../assets/visby/visby-semi-bold.woff2") format("woff2"),
        url("../../../assets/visby/visby-semi-bold.woff") format("woff"),
        url("../../../assets/visby/visby-semi-bold.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 700;
    src: url("../../../assets/visby/visby-bold.woff2") format("woff2"),
        url("../../../assets/visby/visby-bold.woff") format("woff"),
        url("../../../assets/visby/visby-bold.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 800;
    src: url("../../../assets/visby/visby-extra-bold.woff2") format("woff2"),
        url("../../../assets/visby/visby-extra-bold.woff") format("woff"),
        url("../../../assets/visby/visby-extra-bold.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: Visby;
    font-style: normal;
    font-weight: 900;
    src: url("../../../assets/visby/visby-black.woff2") format("woff2"),
        url("../../../assets/visby/visby-black.woff") format("woff"),
        url("../../../assets/visby/visby-black.ttf") format("truetype");
}
