@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 100;
    src: url("../../../assets/visby-mono/visby-mono-thin.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-thin.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-thin.ttf") format("truetype");
}
