@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 300;
    src: url("../../../assets/visby-mono/visby-mono-light.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-light.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-light.ttf") format("truetype");
}
