@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 390;
    src: url("../../../assets/visby-mono/visby-mono-sub-regular.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-sub-regular.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-sub-regular.ttf") format("truetype");
}
