@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../../../assets/visby-mono/visby-mono-regular.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-regular.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-regular.ttf") format("truetype");
}
