@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 500;
    src: url("../../../assets/visby-mono/visby-mono-medium.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-medium.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-medium.ttf") format("truetype");
}
