@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 600;
    src: url("../../../assets/visby-mono/visby-mono-semi-bold.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-semi-bold.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-semi-bold.ttf") format("truetype");
}
