@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 900;
    src: url("../../../assets/visby-mono/visby-mono-black.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-black.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-black.ttf") format("truetype");
}
