@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 100;
    src: url("../../../assets/visby-mono/visby-mono-thin.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-thin.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-thin.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 200;
    src: url("../../../assets/visby-mono/visby-mono-extra-light.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-extra-light.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-extra-light.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 300;
    src: url("../../../assets/visby-mono/visby-mono-light.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-light.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-light.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 350;
    src: url("../../../assets/visby-mono/visby-mono-semi-regular.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-semi-regular.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-semi-regular.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 390;
    src: url("../../../assets/visby-mono/visby-mono-sub-regular.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-sub-regular.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-sub-regular.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../../../assets/visby-mono/visby-mono-regular.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-regular.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-regular.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 500;
    src: url("../../../assets/visby-mono/visby-mono-medium.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-medium.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-medium.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 600;
    src: url("../../../assets/visby-mono/visby-mono-semi-bold.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-semi-bold.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-semi-bold.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 700;
    src: url("../../../assets/visby-mono/visby-mono-bold.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-bold.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-bold.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 800;
    src: url("../../../assets/visby-mono/visby-mono-extra-bold.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-extra-bold.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-extra-bold.ttf") format("truetype");
}

@font-face {
    font-display: auto;
    font-family: "Visby Mono";
    font-style: normal;
    font-weight: 900;
    src: url("../../../assets/visby-mono/visby-mono-black.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-black.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-black.ttf") format("truetype");
}
