@font-face {
    font-display: auto;
    font-family: "Visby Mono Variable";
    font-style: normal;
    font-weight: 100 900;
    src: url("../../../assets/visby-mono/visby-mono-variable.woff2") format("woff2"),
        url("../../../assets/visby-mono/visby-mono-variable.woff") format("woff"),
        url("../../../assets/visby-mono/visby-mono-variable.ttf") format("truetype");
}
