/*
General purpose css utility variables
*/

html {
    background-color: hsl(var(--background, 0deg 0% 100%));
    color: hsl(var(--foreground, 0deg 0% 0%));
    font-family: var(--font-visby, --font-system);
}

:root {
    // base shadows - change on theme
    --shadow-base-tiny: 0 0 50px hsl(var(--accent-200, 0deg 0% 92%));
    --shadow-base-small: 0 0 50px hsl(var(--accent-200, 0deg 0% 92%));
    --shadow-base-medium: 0 0 50px hsl(var(--accent-200, 0deg 0% 92%));
    --shadow-base-large: 0 20px 60px hsl(var(--accent-200, 0deg 0% 92%));
    --shadow-base-huge: 0 20px 60px hsl(var(--accent-200, 0deg 0% 92%));
    // shadows
    --shadow-tiny: var(--shadow-base-tiny);
    --shadow-small: var(--shadow-base-small);
    --shadow-medium: var(--shadow-base-medium);
    --shadow-large: var(--shadow-base-large);
    --shadow-huge: var(--shadow-base-huge);
    --shadow-line: 0 0 0 1px hsl(var(--accent-200, 0deg 0% 92%));
    // z indexes
    --z-default: 1;
    --z-modal: 100;
    --z-message: 101;
    --z-float: 99;
    --z-special: 10;
    // border-radius
    --rounded-small: 4px;
    --rounded-default: 6px;
    --rounded-medium: 12px;
    --rounded-large: 20px;
    --rounded-pill: 1000px;
    --rounded-circle: 50%;
    // fonts -- system
    --font-system: system-ui, "Segoe UI", roboto, helvetica, arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    --font-system-mono: consolas, "andale mono wt", "andale mono", "lucida console",
        "lucida sans typewriter", "dejavu sans mono", "bitstream vera sans mono", "liberation mono",
        "nimbus mono l", monaco, "courier new", courier, monospace;
    // fonts -- variable -- in alpha
    --font-visby-variable: "Visby Variable", var(--font-system);
    --font-visby-mono-variable: "Visby Mono Variable", var(--font-system-mono);
    // fonts -- normal
    --font-visby: "Visby", var(--font-system);
    --font-visby-mono: "Visby Mono", var(--font-system-mono);
}
